<tr data-id="{{id}}">
    <td>
        {{title}}
    </td>
    <td>
        {{start}}
    </td>
    <td>
        {{end}}
    </td>
    <td>
        {{groupId}}
    </td>
    <td>
        {{location}}
    </td>
    <td>
        {{type}}
    </td>
    <td>
        <button type="button" class="btn btn-danger">Delete</button>
    </td>
    <td>
        <button type="button" class="btn btn-info">Edit</button>
    </td>
</tr>